@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Roboto+Condensed:ital,wght@1,400;1,700&family=Roboto:wght@400;500;700&display=swap"rel="stylesheet")
html {
	box-sizing: border-box;
	overflow-x: hidden;
}
* {
	text-decoration: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
* li,
p,
h1,
h2,
h5,
h6 {
	font-family: "Lato", sans-serif;
}

* li {
	list-style: none;
}

* h6 {
	font-size: 18px;
}

container {
	max-width: 1440px;
	margin: 0 auto;
}

/* header */

.header {
	min-height: 782px;
}
.header-img {
	width: 100%;
}
.header-navigation {
	min-height: 100px;
	margin-top: -720px;
	display: flex;
}
.header-nav-logo img {
	width: 172px;
	height: 29px;
	margin-left: 165px;
	margin-top: 10px;
}
.nav-menu-list {
	width: 445px;
	height: 22px;
	display: flex;
	justify-content: space-between;
	margin-left: 161px;
	margin-right: 113px;
	margin-top: 15px;
}
.header-nav-menu li {
	list-style: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}
.header-lang {
	width: 96px;
	height: 32px;
	margin-right: 20px;
}
.header-nav-btn {
	width: 100px;
	height: 40px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 10px;
	border: 1px solid #fff;
	background-color: transparent;
}
.hamburger {
	width: 30px;
	height: 30px;
	display: none;
}
.banner-text {
	max-width: 578px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 20px auto;
	align-items: center;
}
.banner-text h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 72px;
	font-weight: bold;
}
.banner-text p {
	color: #fff;
	font-size: 24px;
	text-align: center;
}
.banner-btn {
	border: 1px solid #ed4c5c;
	border-radius: 10px;
	width: 160px;
	height: 50px;
	text-transform: uppercase;
	margin: 39px auto;
}
.banner-btn a {
	color: #ed4c5c;
}

/* .video-section */

.video-section {
	min-height: 500px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}
.video-section img {
	width: 100%;
}
.video-txt {
	max-width: 445px;
	min-height: 250px;
	margin-left: 165px;
	padding-right: 92px;
}
.video-txt h2 {
	font-size: 36px;
}
.video-txt p {
	font-size: 14px;
}
.video-txt h5 {
	color: #ed4c5c;
}

/* features */
.features {
	min-height: 660px;
	background-color: #fafafa;
	margin: 0 auto;
}
.features h2,
.technology h2 {
	text-align: center;
	padding: 63px;
}
.features-imgs {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.features-imgs img {
	max-width: 350px;
	min-height: 250px;
}
.features-money-card,
.features-manage-card,
.features-budjet-card {
	position: relative;
	max-width: 350px;
	min-height: 250px;
}

.features-money-text,
.features-manage-text,
.features-budjet-text {
	width: 293px;
	height: 198px;
	border: 1px solid white;
	border-radius: 10px;
	text-align: center;
	position: absolute;
	top: 160px;
	background-color: #fff;
	box-shadow: 5px 5px 5px grey;
	/* padding: 20px; */
}
.features-money-text {
	position: absolute;
	left: 30px;
}
.features-manage-text {
	position: absolute;
	right: 38px;
}
.features-budjet-text {
	position: absolute;
	left: 36px;
}
.features h5 {
	font-size: 18px;
	margin-top: 33px;
	text-align: center;
}
.features p {
	margin-top: 20px;
	font-size: 12px;
}
.features h6 {
	font-size: 12px;
	color: #ed4c5c;
	margin-top: 25px;
}

/* technology */

.technology {
	min-height: 500px;
}
.tech-items {
	max-width: 1110px;
	min-height: 226px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
	text-align: center;
}
.technology h5 {
	font-size: 18px;
}
.technology p {
	font-size: 12px;
}

/* savemoney */
.save-money {
	min-height: 500px;
	background-color: #ed4c5c;
	color: #fff;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
.save-text {
	max-width: 445px;
	margin-left: 65px;
	text-align: left;
}
.save-text p {
	margin-top: 25px;
	margin-bottom: 40px;
	font-size: 14px;
}

/* contact */
.contact {
	min-height: 500px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
.contact-text {
	width: 445px;
	height: 160px;
}
.contact-text p {
	font-size: 14px;
	margin-top: 60px;
}
.submit-btn {
	width: 160px;
	height: 50px;
	background-color: #ed4c5c;
	color: #fff;
	border-radius: 5px;
	border: #ed4c5c;
	text-transform: uppercase;
}
.form {
	max-width: 540px;
	min-height: 305px;
}
input[type="text"] {
	width: 255px;
	height: 60px;
	border-radius: 5px;
	padding: 20px;
	margin: 5px;
}
input[type="tel"],
select {
	width: 540px;
	min-height: 60px;
	border-radius: 5px;
	padding: 20px;
	margin: 24px 0;
}

/* footer */
.footer {
	background-color: #fafafa;
	height: 400px;
}
.footer-list {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;

	padding-top: 85px;
}
.footer-list p,
li {
	font-size: 12px;
	padding: 2px;
}
.footer-list h6 {
	margin-bottom: 33px;
}
.footer-services h6 {
	margin-bottom: 28px;
}
.copyright {
	margin: 100px 161px 86px 161px;
	font-size: 12px;
}

body {
	padding: 0;
}

@media screen and (max-width: 1380px) {
	.header-navigation {
		padding-top: 80px;
	}
	.banner-text {
		padding-top: 180px;
	}
}
@media screen and (max-width: 1300px) {
	.header-nav-menu {
		position: absolute;
		left: -2000px;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 15px;
		z-index: 99;
		top: 1000px;
		background-color: white;
	}
	.nav-menu-list {
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
	}
	.hamburger {
		display: block;
		margin-left: 350px;
		margin-top: 10px;
	}
	.header-lang,
	.header-nav-btn {
		display: none;
	}
}

@media screen and (max-width: 1220px) {
	.header-navigation {
		padding-top: 150px;
	}
	.banner-text h1 {
		font-size: 52px;
	}
	.banner-text p {
		font-size: 20px;
	}
}

@media screen and (max-width: 1100px) {
	.hamburger {
		margin-left: 300px;
		margin-top: 40px;
	}
	.header-nav-logo {
		margin-top: 50px;
	}
	.banner-btn {
		width: 100px;
		height: 30px;
		font-size: 14px;
	}
	.video-section {
		display: flex;
		justify-content: space-evenly;
		margin: 0 auto;
	}
	.video-txt {
		margin-top: -200px;
	}
	.features-money-card,
	.features-manage-card,
	.features-budjet-card {
		margin: 70px;
	}
	.features {
		height: 1000px;
	}
}

@media screen and (max-width: 1000px) {
	.features {
		height: 1400px;
	}
}

@media screen and (max-width: 1000px) {
	.hamburger {
		margin-left: 240px;
		margin-top: 60px;
	}
	.header-nav-logo {
		margin-top: 90px;
	}
	.banner-text h1 {
		font-size: 32px;
	}
	.banner-text p {
		font-size: 18px;
	}
	.video-section {
		top: 450px;
	}
	.video-txt h2 {
		font-size: 24px;
	}
}

@media screen and (max-width: 900px) {
	.hamburger {
		margin-left: 180px;
		margin-top: 80px;
	}
	.header-nav-logo {
		margin-top: 150px;
	}
	.banner-text {
		margin: 0 auto;
	}
}

@media screen and (max-width: 800px) {
	.hamburger {
		margin-left: 150px;
		margin-top: 100px;
	}
	.header-nav-logo {
		margin-top: 180px;
	}
	.banner-text h1 {
		font-size: 26px;
	}
	.banner-text p {
		font-size: 14px;
	}
	.banner-btn {
		width: 70px;
		height: 20px;
	}
	.features {
		height: 1600px;
	}
}

@media screen and (max-width: 720px) {
	.hamburger {
		margin-left: 130px;
		margin-top: 120px;
	}
	.header-nav-logo {
		margin-top: 230px;
		margin-left: -80px;
	}
	.banner-text {
		margin-top: -120px;
	}
	.features-money {
		margin: 0 auto;
	}
	.save-text {
		margin-top: 50px;
	}
	.save-slider {
		width: 100%;
	}
	.footer {
		margin: 20px 0 0 0;
	}
	.footer-address,
	.footer-get,
	.footer-support,
	.footer-services {
		margin: 0px 20px;
	}
}

@media screen and (max-width: 620px) {
	.banner-text h1 {
		font-size: 22px;
	}
	.banner-text p {
		font-size: 12px;
	}
	.hamburger {
		margin-left: 100px;
		margin-top: 150px;
		width: 20px;
		height: 20px;
	}
	.header-nav-logo {
		margin-top: 280px;
		margin-left: -100px;
	}
	.banner-text {
		margin-top: -120px;
	}
	.video-section {
		margin-top: -150px;
	}
	.video-img {
		width: 100%;
		max-width: 278px;
		min-height: 111px;
	}
	.video-txt {
		max-width: 355px;
		min-height: 250px;
	}

	.form {
		max-width: 240px;
		min-height: 105px;
	}
	input[type="text"] {
		width: 155px;
		height: 40px;
		border-radius: 5px;
		padding: 20px;
		margin: 5px;
	}

	input[type="tel"],
	select {
		width: 240px;
		min-height: 40px;
		border-radius: 5px;
		padding: 20px;
		margin: 24px 0;
	}
	.submit-btn {
		width: 80px;
		height: 25px;
		text-transform: lowercase;
	}
	.footer {
		min-height: 600px;
	}
}

@media screen and (max-width: 580px) {
	.video-section {
		margin-top: -250px;
	}
	.features-money,
	.features-manage,
	.features-budjet {
		width: 100%;
		max-width: 250px;
		min-height: 150px;
	}
	.footer-address,
	.footer-get,
	.footer-support,
	.footer-services {
		margin: 0px 30px 0 0;
	}
}

@media screen and (max-width: 520px) {
	.hamburger {
		margin-left: 80px;
		margin-top: 160px;
	}
	.header-nav-logo {
		margin-top: 300px;
		margin-left: -130px;
	}
	.banner-text h1,
	.video-txt h2 {
		font-size: 18px;
	}
	.banner-text p,
	.video-txt p {
		font-size: 10px;
	}
}

@media screen and (max-width: 480px) {
	.hamburger {
		margin-left: 60px;
		margin-top: 180px;
	}
	.header-nav-logo {
		margin-top: 350px;
		margin-left: -110px;
	}
	.banner-btn {
		margin-top: 20px;
	}
	.banner-btn a {
		text-transform: lowercase;
	}
	.video-txt {
		margin-top: -350px;
	}
	.video-img {
		margin-top: -450px;
	}

	.features-money-text,
	.features-manage-text,
	.features-budjet-text {
		width: 223px;
		height: 168px;
		padding: 2px;
		text-align: center;
		left: 5px;
	}

	.features-money-text h5,
	.features-manage-text h5,
	.features-budjet-text h5 {
		font-size: 14px;
	}
	.features-money-text h6,
	p,
	.features-manage-text h6,
	p,
	.features-budjet-text h6,
	p {
		font-size: 8px;
	}
}

@media screen and (max-width: 400px) {
	.hamburger {
		margin-left: 40px;
		margin-top: 200px;
	}
	.header-nav-logo {
		margin-top: 390px;
		margin-left: -130px;
	}
	.banner-text {
		margin-top: -160px;
	}
	.banner-text h1,
	.video-txt h2 {
		font-size: 16px;
	}
	.banner-text p,
	.video-txt p {
		font-size: 8px;
	}
	.video-txt {
		align-items: center;
		margin-right: 50px;
	}
}
